html,
body {
    background-color: #FFFFFF;
}

.home-body {
    width: 80%;
    margin: 100px auto 10%;
    max-width: 80%;
}

.jumbotron {
    display: flex;
    position: relative;
}

.jumbotron > * {
    width: 100%;
    height: 100%;
}

.load-more__btn {

}