html,
body {
    background-color: #FFFFFF;
}

.home-body {
    width: 80%;
    margin: 4% auto 0;
    margin-bottom: 10%;
}

.jumbotron {
    display: flex;
    position: relative;
}

.jumbotron > * {
    width: 100%;
    height: 100%;
}

.load-more__btn {

}