version: "2"

services:
  node:
    container_name: npm_backend
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - proxy
    environment:
      - VIRTUAL_HOST=106.14.140.93
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=106.14.140.93
      - LETSENCRYPT_EMAIL=1071956678@qq.com

networks:
  proxy:
    external: true