html,
body {
    height: 100%;
    background-color: #E4E7ED;
    margin: 0 auto;
    text-align: center;
}

.login-body,
.register-body {
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

.form {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.form > .board {
    margin: 0 auto;
    width: 20%;
    background-color: #EBEEF5;
    padding: 20px;
}

.form > .form-bg {
    margin: 2%;
}

.board > .header {
    color: blue;
    height: fit-content;
    padding-bottom: 20px;
    text-align: left;
    font-size: 17px;
}

.inputs {
    text-align: left;
}

.inputs > div {
    padding: 4% 0;
}

.inputs input {
    text-align: left;
    width: 100%;
    height: 25px;
}

.board > .check {

}

.board .submits {
    display: flex;
    flex-direction: column;
}

.board > .submits button {
    margin: 4% 0 1% 0;
    height: 30px;
    width: 100%;
}

.login-body .psw-input {
    display: flex;
}

.login-body .psw-input > span {
    flex: 1 0 auto;
}

.form > .to-register {
    margin-top: 30px;
}

.board input{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}