*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-style: none;
}

html,
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
    height: 100%;
    position: relative;
}

.header {
    width: 100%;
    background-color: #FFFFFF;
    height: 60px;
    display: flex;
    padding: 7px 5px 0 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(216, 221, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(209, 187, 184, 0.6);
}

.header > .pic {
    flex: 0 0 auto;
    min-width: 7%;
    display: flex;
}

.header > .pic .left-img {
    flex: 1 0 auto;
}

.header > .pic image {
    width: border-box;
}

.header > .pic .txts {
    flex: 2 0 auto;
    font-family: "Source Code Pro", serif;
}

.header > .pic .txts > .title {
    font-weight: bold;
    font-size: 24px;
}


.header > .search_bar {
    flex: 12 0 auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    padding: 10px 0px;
    background-color: #ebebeb;
    width: 100%;
    transition: 0.5s;
}

input[type=search]:focus {
    background-color: #FFFFFF;
    border: solid #ebebeb;
    transition: 0.5s;
}

.header > .items {
    flex: 5 0 auto;
    height: 100%;
    display: flex;
}

.header > .items > * {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
}

.header .items button {
    border-radius: 8px;
    transition: 0.5s;
    height: 80%;
    border-width: medium;
}

.header .items button:hover {
    cursor: pointer;
    border-color: #ebebeb;
    transition: 0.5s;
}

.header .upload {
    width: 100%;
    background-color: #FFFFFF;
    border-color: #ebebeb;
}

.header .to_reg {
    width: 70%;
    background-color: #36aa65;
    color: #FFFFFF;
}

.navigator{
    padding-top: 20px;
    background-color: #FFFFFF;
}

